*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Swiming Frog', sans-serif;
    font-size: 20px;
    background-color:#f0efef ;
    font-weight: bold;
    
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
   height: 120px;
   width: 100%;
   font-family: "Janda Capslock",sans-serif;
   border-bottom: 1px solid black;
   background: linear-gradient(to right, rgba(162, 221, 189, 0.658) ,rgba(87, 130, 204, 0.5));
   p{
       font-size: 50px;
       letter-spacing: 20px;
       margin-left: 20px;  
   }
}
.main-container{
display:flex;
justify-content: center;
align-items: center;
}
.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 20px 200px;
    
}
.card{
    
    width: 100%;
    text-align: left;
    border: 1px solid black;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.9);
    transform: translateY(20px);
    transition: 0.5s;
    &:hover{
        background-color: rgba(176, 170, 192, 0.5);
        transform: translateY(0px);
        box-shadow: 10px 20px 3px rgba(0,0,0,0.9);

    }  
}
.image{
    width: 100%;
    
    img{
        width: 100%;
        padding: 10px;
        
        
    }
}
.info{
    text-align: center;
    margin-top: 5px;
    border-top: 1px solid black;
    position: relative;
   .name{
     
      font-size: 40px;
   }
   .numberOfLegs{
      
       font-size: 17px;
   }
   .age{
       position: absolute;
       top:-5px;
       right: 5px;
       font-size: 80px;
   }
}
.footer{
    
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
    bottom:0;
    a{
        text-decoration: none;
        color:black;
    }
    i{
       margin-left:5px;
    }
}
@media screen and (max-width:1440px){
    .card-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin:20px 100px;
    }
}
@media screen and (max-width:1100px){
    .card-container{
        grid-template-columns: 1fr 1fr 1fr;
        margin:15px 50px;
    }
}
@media screen and (max-width:768px){
    .card-container{
        grid-template-columns: 1fr 1fr;
        margin:15px 50px;
    }
}
@media screen and (max-width:480px){
    .card-container{
        grid-template-columns: 1fr ;
        margin:15px 30px;
    }
    nav{
        p{
            font-size: 35px;
        }
    }
}